:root {
  --azul-oscuro: #1D3557;
  --cian: #00B4D8;
  --dorado: #f0c674;
  --blanco: #f1faee;
  --gris: #A8A8A8;
  --negro: #212121;
  --fuente: 'Inter', sans-serif;
}
body {
  margin: 0;
  font-family: var(--fuente);
  background-color: var(--blanco);
  color: var(--negro);
}
